{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="main convert">
    <h2>{% trans "Login" %}</h2>
    
    <form method="post" action="">
        {% csrf_token %} 
        {{ form.as_p }}
        <input type="hidden" name="redirect_to" value="{% if request.GET.redirect_to %}{{ request.GET.redirect_to }}{% else %}{{ next }}{% endif %}">
        <input type="submit" value="{% trans "Submit" %}" />
    </form>
</div>
{% endblock %}
